{% extends 'layout.html' %}

{% block title %} Delito penal  {% endblock %}
{% block body %}
  <div class="container">
    <div class="row">
        <div class="four columns">
            <img src="{{ url_for('static', filename='images/penal.png') }}" alt="Penal">
        </div>
        <div class="eight columns">
            <a><h1>Delito Penal en Argentina</h1></a>
            <p>Establecer penas a todas aquellas personas que, de una u otra manera, han lesionado los derechos de los demás.</p>
        </div>
    </div>
    <div class="section categories">
        <div class="container">
            <div class="row">
                <div class="eight columns">
                    <a><h4><strong>Meryl Streep</strong></h4></a>
                    <h5><strong>Abogada Especialista en Derecho Penal.</strong></h5>
                </div>
                <div class="four columns">
                    <img src="{{ url_for('static', filename='images/abogada2.png') }}"  alt="Abogada Penalista">
                </div>
            </div>
        </div>
    </div>
  </div>
  {% endblock %}