{% extends 'layout.html' %}
{% block title %} Delitos Informaticos{% endblock %}
{% block body %}
<body>
    <div class="container">
      <div class="row">
        <div class="four columns">
          <img src="images/computer.png" alt="Computer">
        </div>
        <div class="eight columns">
          <a><h1><strong>Delitos informáticos en Argentina</strong></h1></a>
          <p>Calumnias e injurias on-line, acoso, hostigamiento digital, estafas digitales y más. Asesoría y consultoría para empresas: medidas de seguridad, protección de datos e información.</p>
        </div>
      </div>
      <div class="section categories">
        <div class="container">
          <div class="row">
            <div class="eight columns">
              <a><h4><strong>Stefani Joanne Angelina Germanotta</strong></h4></a>
              <h5><strong>Abogada Especialista en Derecho informático, ciberseguridad y ciberdelitos.</strong></h5>
            </div>
            <div class="four columns">
              <img src="images/abogada1.png" alt="LadyGaga">
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
