{% extends 'layout.html' %}

{% block title %} Delitos Laborales {% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="four columns">
        <img src="{{ url_for('static', filename='images/laboral.png') }}" alt="laboral">
    </div>
    <div class="eight columns">
        <a><h1><strong>Delito Laboral en Argentina</strong></h1></a>
        <p>Asesoramiento y asistencia legal representando a los trabajadores para defender sus derechos en todas las instancias administrativas o judiciales.</p>
    </div>
  </div>
  <div class="section categories">
    <div class="container">
        <div class="row">
        <div class="eight columns">
            <a><h4><strong>John Travolta</strong></h4></a>
            <h5><strong>Abogado Especialista en Derecho Laboral.</strong></h5>
        </div>
        <div class="four columns">
            <img src="{{ url_for('static', filename='images/abogadoo3.png') }}" alt="Abogada Laboralista">
        </div>
        </div>
    </div>
  </div>
</div>
{% endblock %}
