{% extends 'layout.html' %}

{% block title %} Abogados {% endblock %}

{% block body %}
<div class="container">
        <div class="row">
          <div class="twelve columns">
            <h1>Colegio de Abogados</h1>
          </div>
        </div>

        <div class="row">
            <img class="twelve columns" src="images/linea.png" alt="Balanza">
        </div>

        <div class="row">
          <div class="six columns">
            <h3>Los abogados</h3>
          </div>
          <div class="six columns"></div>
        </div>

        <div class="row">
          <div class="four columns">
        </div>
          <div class="eigth columns"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p></div>
        </div>

        <div class="row">
          <div class="six columns">
            <h3>Historia</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
          </div>
          <div class="six columns">
            <img src="images/balanza.png" alt="Balanza" style="width:450px;height:450px">
          </div>
        </div>

        <div class="row">
          <div class="six columns">
            <h3>Tu mejor opcion</h3>
          </div>
          <div class="six columns"></div>
        </div>

        <div class="row">
          <div class="four columns">
        </div>
          <div class="eigth columns"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p></div>
        </div>

        <div class="row">
            <div class="six columns">
                <img src="images/verdad.png" alt="Balanza" style="width:450px;height:450px">
            </div>
            <div class="six columns">
              <h3>Preguntas Usuales</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
            </div>
        </div>
        <div class="row">
          <div class="twelve columns">
            <h1>Esperamos Contar con usted</h1>
          </div>
        </div>
        <div class="row">
          <div class="twelve columns">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
        </div>
    </div>
{% endblock %}
