{% extends 'layout.html' %}

{% block title %} Nosotros {% endblock %}

{% block body %}
<div class="row">
  <div class="twelve columns" >
    <h2><strong> Sobre Nosotros...</strong></h2>
  </div>
</div>
  <hr>
  <div class="row">
    <div class="five columns">
      <h3><strong> Abogado 1 </strong></h3>
      <p><em>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde, earum reiciendis? Beatae, enim delectus. Ullam, officiis! Unde perspiciatis praesentium laudantium adipisci itaque vel beatae, odio rerum accusantium quae amet ipsum.</em></p>
      <p><small>Matrícula: 984351. </small></p>
    </div>
    <div class="seven columns">
      <img src="static/images/abogado1.jpg" alt="Primer abogado que integró el estudio.">
    </div>
  </div>

  <div class="twelve columns"> </div>
  <div class="twelve columns"> </div>
  
  <div class="row">
    <div class="one-half column">
      <img src="static/images/abogado2.png" alt="Abogado a cargo de delitos informaticos">
    </div>
    <div class="one-half column">
      <h4>Abogada 2</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus veniam aliquid, temporibus inventore, earum aut consectetur placeat perspiciatis sunt atque optio doloremque delectus asperiores, amet laboriosam debitis quos. Excepturi, quidem.</p>
      <p><small>Matrícula: 984351. </small></p>
    </div>
  </div>

  <div class="row">
    <div class="twelve columns">
      <img src="static/images/abogado3.jpeg">
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum, pariatur quam illo sequi aperiam ipsam dolorem quaerat accusamus deleniti nemo! Repellat pariatur quis provident deserunt, nisi sapiente commodi sed dignissimos. Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem hic atque architecto, quis, harum optio nihil, alias quisquam aliquam quia reprehenderit enim deleniti dicta velit soluta nemo rerum ad neque.</p>
    </div>
  </div>
    
  <section>
    <img src="static/images/carrusel1.jpg" alt="">
    <img src="static/images/carrusel2.jpg" alt="">
    <img src="static/images/carrusel3.jpg" alt="">
    <img src="static/images/carrusel4.jpg" alt="">
  </section>
{% endblock %}